<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Payment Canceled</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<body>
  <div class="container text-center mt-5">
    <h2 class="text-danger">Payment Canceled</h2>
    <p>Your payment was not completed. You can try again.</p>
    <a href="/users/payment" class="btn btn-primary mt-3">Try Payment Again</a>
    <a href="/" class="btn btn-secondary mt-3">Back to Home</a>
  </div>
</body>
</html>
